.home-container {
    width:80%;
    margin: auto;
    margin-top: 1rem;
}
.navbar-categories{
    display:inline-block;
}
.grid{
    margin: 1rem;
}

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }
.example-card {
    width: 70%;
}
